
.container-fluid{
    align-content: center;
}

#header{
   background-color: #BFD8D2;
   margin-top: 0px;
}

#heading{
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
}

#headerLine{
    padding: 0px;
    margin-top: 0px;
    width:100px;
    height: 5px;
    background-color:#DF744a; 
}

.data-container{
    margin-top: 30px;
}

a{
    font-family: sans-serif;
    font-weight: bolder;
}

#displayButtons{
    margin: 10px;
}
