<html>

<head>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}" />
</head>

<body>
    <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var labels = [];
        "{% for p in object_list %}"
        labels.push(parseInt("{{p.year_of_birth}}"));
        "{% endfor %}"
        var series = [];
        "{% for p in object_list%}"
        series.push(parseInt("{{p.total}}"));
        "{% endfor %}"

        var dict_age_group = {
            "0-10": 0,
            "10-20": 0,
            "20-30": 0,
            "30-40": 0,
            "40-50": 0,
            "50-60": 0,
            "60-70": 0,
            "70-80": 0,
            "80-90": 0,
            "90-100": 0
        }
        var label_age_group = [];
        var series_age_group = [];
        var tYear = new Date().getFullYear();
    
        for (var i = 0; i < series.length; i++) {
            if (tYear - labels[i] >= 0 && tYear - labels[i] < 10)
                dict_age_group["0-10"] += series[i];
            else if (tYear - labels[i] >= 10 && tYear - labels[i] < 20)
                dict_age_group["10-20"] += series[i];
            else if (tYear - labels[i] >= 20 && tYear - labels[i] < 30)
                dict_age_group["20-30"] += series[i];
            else if (tYear - labels[i] >= 30 && tYear - labels[i] < 40)
                dict_age_group["30-40"] += series[i];
            else if (tYear - labels[i] >= 40 && tYear - labels[i] < 50)
                dict_age_group["40-50"] += series[i];
            else if (tYear - labels[i] >= 50 && tYear - labels[i] < 60)
                dict_age_group["50-60"] += series[i];
            else if (tYear - labels[i] >= 60 && tYear - labels[i] < 70)
                dict_age_group["60-70"] += series[i];
            else if (tYear - labels[i] >= 70 && tYear - labels[i] < 80)
                dict_age_group["70-80"] += series[i];
            else if (tYear - labels[i] >= 80 && tYear - labels[i] < 90)
                dict_age_group["80-90"] += series[i];
            else if (tYear - labels[i] >= 90 && tYear - labels[i] < 100)
                dict_age_group["90-100"] += series[i];
        }

        for (var key in dict_age_group) {
            if (dict_age_group[key] > 0) {
                label_age_group.push(key);
                series_age_group.push(dict_age_group[key]);
            }
        }

        
        console.log(label_age_group);
        console.log(series_age_group);

        new Chartist.Bar('.ct-ageGroup-chart', {
            labels: label_age_group,
            series: series_age_group
        }, {
            distributeSeries: true
        });
    </script>
    <!-- Scripts -->
</body>

</html>