<html>
    <head>
         {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}"/>
    </head>
    <body>
         <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
         <script type="text/javascript">
            var series = [];
            "{% for p in object_list%}"
                series.push(parseInt("{{p.gender_count}}"));
            "{% endfor %}"

            var labels = [];
            "{% for p in object_list%}"
                labels.push("{{p.gender}}");
            "{% endfor %}"

            console.log(labels)
            console.log(series)
            var data = {
            labels:labels,
            series: series
            };

            var options = {
            labelInterpolationFnc: function(value) {
                return value[0]
            }
            };

            var responsiveOptions = [
            ['screen and (min-width: 640px)', {
                chartPadding: 30,
                labelOffset: 30,
                labelDirection: 'explode',
                labelInterpolationFnc: function(value) {
                return value;
                }
            }],
            ['screen and (min-width: 1024px)', {
                labelOffset: 30,
                chartPadding: 20
            }]
            ];

            new Chartist.Pie('.ct-gender-chart', data, options, responsiveOptions);

        </script>
    <!-- Scripts -->
    </body>
</html>
