<!DOCTYPE html>
<html>

<head>
    <title>Secure Authentication and Tracking</title>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}" />
</head>

<body>

    <!-- Scripts -->
    <script src="{% static 'home/chartist/chartist.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
            'November', 'December'
        ];
        var labels = [];
        "{% for p in object_list%}"
        var dt = new Date("{{p.m}}");
        labels.push(months[dt.getMonth()]); //getting day of week
        "{% endfor %}"


        var series = [];
        "{% for p in object_list%}"
        series.push(parseInt("{{p.c}}"));
        "{% endfor %}"

        var data = {
            // A labels array that can contain any sort of values
            labels: labels,
            // Our series array that contains series objects or in this case series data arrays
            series: [series]
        };

        var options = {
            scaleMinSpace: 10,
            axisY: {
                scaleMinSpace: 10,
                onlyInteger: true,
                low: 0,
            },
            width: window.width,
            height: '200',
            showArea: true,
        };
        new Chartist.Line('.ct-chart', data, options);
    </script>
</body>

</html>