<!DOCTYPE html>
<html>

<head>
    <title>Secure Authentication and Tracking</title>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}" />
    <link href="{% static 'home/css/custom.css'%}" rel="stylesheet" />

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000">Visualizing Data</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://127.0.0.1:8000">overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="http://127.0.0.1:8000/home/realTime">Real Time Data</a></li>
                    <li class="dropdown">

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- End Navbar -->



    <div class="container-fluid data-container" id="header">
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary" id="seven">7 Days Data</a>
            <a href="#" class="btn btn-primary" id="month">Monthly Data</a>
            <a href="#" class="btn btn-primary" id="year">Yearly Data</a>
        </div>
        <h3 id="heading"> Last 7 Days Data </h3>
        <hr id="headerLine">
        <div class="ct-label ct-chart"></div>
    </div>
    <div class="container-fluid data-container">
        <h3 id="heading"> People visiting from different states </h3>
        <hr id="headerLine">
        <div class="ct-state-chart ct-label"></div>
    </div>
    
    <div class="container-fluid data-container">
        <div class="row">
            <div class="col col-md-4">
                <h3 id="heading"> Gender Percentage </h3>
                <hr id="headerLine">
                <div class="ct-gender-chart ct-label"></div>
            </div>
            <div class="col col-md-4">
                <h3 id="heading"> Unique Visitors </h3>
                <hr id="headerLine">
                <div class="ct-visitor-chart ct-label"></div>
            </div>
            <div class="col col-md-4">
                <h3 id="heading"> Card Type </h3>
                <hr id="headerLine">
                <div class="ct-card-chart ct-label"></div>
            </div>

        </div>

        <div class="container-fluid data-container">
            <h3 id="heading"> Age Group </h3>
            <hr id="headerLine">
            <div class="ct-ageGroup-chart ct-label"></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="{% static 'home/myjs/overview.js' %}"></script>
        <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

</body>

</html>