<html>

<head>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}" />
</head>

<body>
    <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        var labels = [];
        "{% for p in object_list %}"
        labels.push("{{p.id}}");
        "{% endfor %}"
        var series = [];
        "{% for p in object_list%}"
        series.push("{{p.count_data}}");
        "{% endfor %}"

        new Chartist.Bar('.ct-state-chart', {
            labels: labels,
            series: series
        }, {
            distributeSeries: true
        });
    </script>
    <!-- Scripts -->
</body>

</html>