<html>
    <head>
         {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}"/>
    </head>
    <body>
         <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
         <script type="text/javascript">
            var series = [];
            "{% for p in object_list%}"
                series.push(parseInt("{{p.total}}"));
            "{% endfor %}"
            var visitor_type = ["New Visitors","Returning Visitors"];
            var series_type= [0,0];
            for(var i=0;i<series.length;i++){
                if(parseInt(series[i])>1)
                    series_type[1]++;
                else 
                    series_type[0]++;
            }

            if(series_type[1]==0 && series_type[0] == 0){
                data = {
                    labels:[null],
                    series:[null],
                }
            }
            else
                data={
                    labels:visitor_type,
                    series:series_type,                    
                }

            var options = {
            labelInterpolationFnc: function(value) {
                return value[0]
            }
            };

            var responsiveOptions = [
            ['screen and (min-width: 640px)', {
                chartPadding: 30,
                labelOffset: 30,
                labelDirection: 'explode',
                labelInterpolationFnc: function(value) {
                return value;
                }
            }],
            ['screen and (min-width: 1024px)', {
                labelOffset: 30,
                chartPadding: 20
            }]
            ];

            new Chartist.Pie('.ct-visitor-chart', data, options, responsiveOptions);

        </script>
    <!-- Scripts -->
    </body>
</html>
